.whatsapp_box {
    display: flex;
    position: fixed;

    bottom: 20px;
    right: 20px;

    width: 50px;
    height: 50px;

    align-items: center;
    justify-content: center;

    background-color: rgb(13, 193, 67);
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0,0.5);
}

.whatsapp_box i {
    color: white;
    font-size: 25px;
    text-align: center;
}
  

@media screen and (max-width: 600px) {
    .whatsapp_box {
        display: none;
    }
}